/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
} 

nav {
  align-items: flex-start;
  margin: 0 auto;
  padding: 20px 20px 0;
  font-size: 14px;
  background: white;
  box-shadow: 0 0 5px rgb(190, 190, 190);
  border-radius: 10px;
}

nav a {
  transition: background-color 0.7s;
  padding: 5px 10px 0;
  text-decoration: none;
  color: black;
}

nav .blog {
  border-radius: 5px;
  background-color:#66aae2;
  color:black;
}

nav a:hover {
  color: #57a9ec;
}

nav a.blog:hover {
  color: black;
  background-color: #276ca5;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  
  body {
    background: white;
  } 
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  } 
}
