/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  margin: 0;
  background: white;
} 

#menuToggler {
  display: none;
  margin:auto;
}

nav {
  display: flex;
  flex-direction:row;
  font-size: 14px;
  background: rgb(176, 217, 250);
}

nav a {
  transition: background-color 0.7s;
  text-decoration: none;
  color: black;
  margin: 10px;
  padding: 5px 20px;
  background-color: #57a9ec;
}

nav .title {
  font-weight: bold;
  margin-left: 0;
  margin-right: 60px;
  background-color: rgb(176, 217, 250);
}

nav a:hover {
  color: #57a9ec;
}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  
  body {
    background: white;
  }

  #menuToggler {
    display: flex;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: white;
  }
  
  #menuToggler {
    display: none;
  }
}
