/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


body {
	font-family: "Rubik Mono One", sans-serif;
	color: white;
	margin: 0;
	background-image: url("../images/background.jpg");
}

#menuToggler {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	background-color: rgb(176, 217, 250);
	color: white;
	font-size: 40px;
	text-align: left;
	line-height: 1em;
	padding: 0 1rem;
	z-index: 1;
}

nav {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	display: flex;
	flex-direction: column;
	background-color: rgb(176, 217, 250);
	opacity: 0;
	transform: translateX(100vw);
	transition: transform 0.4s, opacity 0.6s;
}

nav a {
	font-size: 2em;
	text-decoration: none;
	padding: 0.5em 1em;
	color: white;
	text-align: center;
	flex-grow: 1;
}

nav .title {
	font-weight: bold;
}

nav.open {
	transition: transform 0.4s, opacity 0.2s;
	transform: none;
	opacity: 1;
}

nav a:hover {
	color: #57a9ec;
}

main {
	/*text-align: center;*/
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}

main section {
	border-bottom: 2px solid rgb(176, 217, 250);
	margin: 0em;
	padding: 2.5em;
	padding-top: 5em;
	padding-bottom: 5em;

}

.description {
	align-items: center;
	position: relative;
	justify-content: center;
	display: flex;
}

.description h1,
h2 {
	margin-bottom: 10px;
}

.description image {
	height: auto;
	width: auto;
	border: 5px solid #555;

}

.grids {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
	background-color: rgb(176, 217, 250);
}

.grid {
	display: grid;
	grid-template-columns: auto 1fr;
	position: relative;
}

.gridImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gridText {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 10px;
}

.gamesMain {
	gap: 2em;
}

.description {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding: 0;
	padding-top: 2em;
	margin-left: 20px;
	flex: 1;
	padding-bottom: 2em;
}

.showcasedGameImages {
	display: none;
}

.showcasedGameImageContainer,
.showcasedGameImageContainer img {
	position: relative;
	border-radius: 20px;
	transition: transform 0.2s;
}

.showcasedGameImageContainer:hover {
	transform: scale(1.1);
	filter: brightness(50%);
}

.showcasedGameImageText {
	position: absolute;
	bottom: -14px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 5px;
	border-radius: 0 10px 0 20px;
}

.gamesTitle,
.gamesDescription {
	margin: 0;
	padding: 0;
	color: white;
}

.gamesDescription {
	max-width: 800px;
	text-align: left;
}

.gridGamesTitle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	opacity: 0;
	transition: opacity 0.25s ease;
}

.gameGrids {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
	padding: 0;
}

.gameGrid a {
	text-decoration: none;
}

.gameGrid {
	display: grid;
	grid-template-rows: auto 1fr;
	position: relative;
	max-width: 100%;
}

.gameGridImage {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.gameGrid:hover .gameGridImage {
	filter: brightness(50%);
}

.gameGrid:hover .gridGamesTitle {
	opacity: 1;
}

.listOfGames {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	padding: 0;
	gap: 1em;
	margin-top: 1em;
}

.gameGridsColumn {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
	padding: 0;
	gap: 1em;
	margin: 0;
}

.gameGridColumn {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 1;
}

.gameGridColumnImage {
	display: flex;
	width: 100px;
}

.gameGridColumn a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: white;
	grid-column: 1/-1;
	max-width: 500px;
	font-size: 15px;
	gap: 1em;
}

.gameGridColumn:hover .gameGridColumnImage {
	filter: brightness(50%);
}

.searchSection {
	padding-top: 2em;
	text-align: center;
}

.searchGamesTitle {
	margin-bottom: -2em;
}

#query {
	padding: 0.25em;
	border: 1.75px solid #ccc;
	border-radius: 25px;
	font-size: 1em;
	margin-right: 0.5em;
	flex: 1;
}

button {
	padding: 0.25em 2em;
	background-color: rgb(121, 192, 250);
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
}

button:hover {
	background-color: rgb(83, 143, 192);
}

.resultGrids {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	padding: 0.5rem;
	gap: 1rem;
	background-color: rgb(176, 217, 250);
}

.resultGrid {
	width: 432px;
	height: 243px;
	display: grid;
	grid-template-columns: auto 1fr;
	position: relative;
}

.resultGridImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.resultGridText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	opacity: 0;
	transition: opacity 0.25s ease;
}

.resultGrid:hover .resultGridText {
	opacity: 1;
}

.resultGrid:hover .resultGridImage {
	filter: brightness(50%);
}

.gamesMain {
	gap: 2em;
}

article {
	animation: fadeIn 0.8s;
	padding: 0 1rem;
}

#meta {
	display: flex;
	justify-content: space-between;
	padding: 0.5em 0;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.5);
}

#loader {
	font-size: 3em;
	width: 1em;
	height: 1em;
	box-sizing: border-box;
	border-style: solid;
	border-width: 0.5em;
	border-color: hsl(0, 70%, 50%) white;
	border-radius: 50%;
	position: fixed;
	left: calc(50vw - 0.5em);
	top: calc(50vh - 0.5em);
	opacity: 0;
	animation: spin 0.5s ease-in-out alternate infinite;
	transition: 0.5s;
}

#loader.waiting {
	opacity: 1;
}

.modal {
	display: none;
	height: 100vh;
	width: 100vw;
	background-color: hsla(0, 70%, 10%, 0.7);
	top: 0;
	left: 0;
	gap: 2em;
	overflow-y: scroll;
	align-items: center;
}

.modal.on {
	display: flex;
}

.modal img {
	height: auto;
	position: absolute;
	top: 0;
}

.aboutUsHeader {
	display: flex;
	justify-content: center;
}

.aboutUsContainer {
	background-color: hsla(202, 45%, 73%, 0.7);
	text-align: center;
	width: 100%;
}

.aboutUsTitle {
	margin-top: 50px;
}

.aboutUsDescription {
	margin: 0 auto 50px auto;
	max-width: 500px;
}

.aboutUsGrids p {
	color: white;
	text-align: center;
	margin: 0;
}

.aboutUsGrids {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	padding: 2em 10%;
}	

.aboutUsGrid a {
	text-decoration: none;
}

.aboutUsGrid {
	display: grid;
	position: relative;
	max-width: 100%;	
}

.aboutUsGridImage {
	width: 100%;
	display: grid;
}

form {
  display: grid;
  grid-row-gap: 0.25em;
  grid-column-gap: 1em;
  grid-template-columns: minmax(max-content, 1fr) 3fr; /* Adjusted width of the second column */
  align-items: center;
  margin: auto; /* Center the form */
}

form input[type="submit"] {
	grid-column: 2 / 3;
	justify-self: end;
}

form input[type="text"],
form input[type="email"],
form input[type="label"]
form textarea {
  width: 100%; /* Adjust the width of the input fields */
  max-width: 200px; /* Set a maximum width if needed */
}

form input:invalid {
	border-width: 0.5px 0.5px 0.5px 3px;
	border-left-style: solid;
	border-left-color: red;
}
form input:valid {
	border-width: 0.5px 0.5px 0.5px 3px;
	border-left-style: solid;
	border-left-color: green;
}

form:valid {
	border-top: 3px solid green;
}

@keyframes spin {
	0% {
		transform: rotate(-45deg);
	}

	100% {
		transform: rotate(45deg);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


@media screen and (min-width: 700px) {
	header {
		font-size: 1.2em;
	}
}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

	/* applies to screens wider than 499px */
	nav {
		display: flex;
		flex-direction: row;
		transform: none;
		opacity: 1;
		height: auto;
		position: static;
		justify-content: center;
	}

	nav a {
		font-size: 1.3em;
		flex-grow: 0;
	}

	#menuToggler {
		display: none;
	}

	.gamesMain {
		padding-left: 0%;
		padding-right: 0%;
	}
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

	/* applies to screens wider than 999px */

	.showcasedGameImages {
		display: flex;
		flex-direction: row;
		gap: 2em;
	}

	.gamesMain {
		padding-left: 20%;
		padding-right: 20%;
	}


}